@import "./fonts.css";
@import "./variables.css";
@import "./reset.css";

#about {
    transition: all 0.6s;
}

.about .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-content {
    display: flex;
    padding-top: 2rem;
}

.about__content-right {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: flex-start;
}

.about__content-left {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.neumorphic-box {
    height: 300px;
    width: 250px;
    background: #2c4263;
    border-radius: 20px;
    margin: 20px;
    box-shadow: 0 -5px 9px rgba(130, 166, 216, 0.45), 0 -5px 9px rgba(94,104,121,0.3);
    transition: all 0.5s;
    display: flex;
}

.neumorphic-box img {
    width: 300px;
    border-radius: 0.5rem;
}

@media screen and (max-width: 1120px) {

    .about__content-left img {
        width: 250px;
    }

}

@media screen and (max-width: 804px) {
    .about-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about__content-left {
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .about__content-right {
        margin-top: 2rem;
        align-items: center;
        width: 100%;
    }
}

@media screen and (max-width: 622px) {

    .about__content-title {
        font-size: 1.5rem;
    }
}