#contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-content {
    width: 360px;
    padding-top: 2rem;
}

.contact__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact__input {
    padding: 1rem;
    margin-bottom: 2rem;
    width: 100%;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    background: none;
    color: var(--white-color);
    background-color: #006da438;
    box-shadow: 0 5px 10px rgba(0, 109, 164, 0.659);
    transition: all 400ms ease;
}

.contact__input::placeholder {
    color: #9db5c1;
}

.contact__input:focus {
    background: none;
    box-shadow: 0 5px 10px var(--white-color);
    transition: all 400ms ease;
}

.contact__button {
    display: block;
    border: none;
    outline: none;
    font-size: 1rem;
    cursor: pointer;
    margin-left: auto;
    color: var(--white-color);
    border-radius: 0.5rem;
    font-weight: bold;
    padding: 0.8rem 2rem;
    background: #006da4;
    box-shadow: 0 2px 10px rgba(0, 109, 164, 0.659);
    transition: all 400ms ease;
}

.contact__button:hover {
    background: none;
    box-shadow: 0 2px 10px var(--white-color);
    transition: all 400ms ease;
}

@media screen and (max-width: 600px) {
    .contact-content {
        width: 100%;
    }
}