@import "./fonts.css";
@import "./variables.css";
@import "./reset.css";

/* Start Navbar Styles */

.navbar {
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    height: 72px;
    box-shadow: 5px 10px;
    flex-grow: 1;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}

.navbar .container{
    align-items: center;
    gap: 2rem;
}

.logo-img {
    margin-left: 12rem;
    z-index: 10;
}

.navbar-burger {
    z-index: 3;
    display: none;
    font-size: 2rem;
    color: var(--white-color);
    border: 0;
    padding: 0;
    margin-right: 2rem;
    background: transparent;
    cursor: pointer;
    width: 30px;
    height: 88px;
    background-image: url("../images/menu.svg");
    background-repeat: no-repeat;
    background-position: center;
}

body.open .navbar-burger {
    background-image: url("../images/close.svg");
}

body.open .background {
    filter: blur(10px);
}

.navbar div {
    display: flex;
}

.navbar a {
    color: var(--white-color);
    text-decoration: none;
    transition: 0.3s;
    font-size: 1rem;
    font-weight: 600;
    height: 100%;
    display: flex;
    align-items: center;
    width: 75px;
    justify-content: center;
    transition: all 400ms ease;
}

.navbar-item:hover {
    border-bottom: 3px solid var(--white-color);
    transform: scale(1.1);
    transition: all 400ms ease;
}

/* Finish Navbar Styles */

/* Start Banner Styles */

.banner,
.banner-title,
.banner-right__btns,
.banner-left,
.banner-right,
.banner__img,
.banner-text {
    transition: all 0.6s;
}

.banner {
    display: flex;
    width: 100%;
    background-image: linear-gradient(to bottom,#003554f4, #003554ed), url(../images/banner/banner-bckgrnd.jpg);
    background-size: 180%;
    background-position: center;
    transition: 0.5s;
    padding: 4.2rem 0 4.5rem 0;
}

.banner .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.banner-right {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: flex-start;
}

.banner-title {
    font-family: 'IRANSansReg';
    font-size: 3rem;
    color: #ffffff;
    text-align: right;
    font-weight: bold;
}

.banner-text {
    text-align: right;
    margin-top: 3rem;
    font-size: 1.5rem;
    color: #cbcac3;
}

.banner-right__btns {
    margin-top: 4rem;
    display: flex;
    width: 80%;
}

#button-resume {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 1px solid #221e6f;
    background: var(--primary-color);
    color: var(--white-color);
    font-size: 18px;
    font-family: inherit;
    width: 50%;
}

#button-works {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
    color: var(--black-color);
    background: #9db5c1;
    font-size: 18px;
    font-family: inherit;
    margin-right: 1rem;
    width: 50%;
}

.banner-left {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    width: 50%;
}

.banner__img {
    width: 450px;
}

.banner__blob {
    fill: var(--white-color);
}

.banner__blob-img {
    width: 25rem;
    transition: 600ms ease;
}

.banner__blob-img:hover {
    transform: translateY(-0.3rem);
    transition: 600ms ease;

}

/* Finish Banner Styles */

/* Start About Section styles */

.about .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.6s;
}

.about-content {
    display: flex;
    padding-top: 2rem;
}

.about__content-right {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
}

.about__content-left {
    width: 50%;
    display: flex;
    justify-content: center;
}

.about__content-left img {
    width: 300px;
    border-radius: 0.5rem;
}

.about__content-title {
    color: var(--white-color);
    font-size: 2rem;
}

.about__content-text {
    color: var(--white-color);
    margin-top: 2rem;
    line-height: 1.5rem;
    word-spacing: 0.3rem;
    color: #9db5c1;
}

/* Finish About Section styles */



/* Start Media Query */

@media screen and (max-width: 1120px) {
    .banner__img {
        width: 280px;
    }

    #button-resume,
    #button-works {
        width: unset;
    }
    .about__content-left img {
        width: 250px;
    }
}

@media screen and (max-width: 804px) {

    .navbar .container {
        position: absolute;
        margin: 0;
        display: none;
        z-index: 2;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: right;
        align-items: center;
        width: 100%;
        background: #003554f0;
        opacity: 0;
        visibility: hidden;
        border-bottom: 20px solid white;
        transition: 0.5s;
        height: 100%;
        padding-top: 2rem;
    }

    /*  */
    body.open .navbar .container {
        opacity: 1;
        visibility: visible;
    }

    

    .navbar .container a:hover {
        opacity: 0.75;
    }

    .navbar .container a {
        color: var(--white-color);
        width: 300px;
        text-decoration: none;
        transition: 0.4s;
    }

    .navbar .container a::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 10px;
        width: 100%;
        height: 2px;
        border-radius: 2px;
        background: #f7f7f7;
        transform: scaleX(0);
        transform-origin: 0% 50%;
        transition: 0.4s;
    }

    .navbar .container a:hover::after {
        transform: scaleX(1);
    }

    body.open .navbar .container a {
        animation: appear 0.3s backwards;
    }

    /*  */

    .navbar-burger {
        display: grid;
    }

    .banner {
        flex-direction: column;
        padding-top: 3rem;
    }

    .banner .container {
        width: unset;
        justify-content: center;
        align-items: center;
    }

    .banner-right {
        justify-content: flex-start;
        height: fit-content;
        width: 100%;
    }

    .banner-title {
        font-size: 2.5rem;
    }

    .banner-text {
        font-size: 1rem;
    }

    .banner-right__btns {
        flex-direction: column;
        margin-top: 2rem;
        width: unset;
    }

    #button-works {
        margin-right: 0;
        margin-top: 2rem;
    }

    .banner-left {
        height: fit-content;
        justify-content: flex-end;
        align-items: flex-end;
        width: 100%;
    }

    .banner__img {
        width: 280px;
    }

    .about-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about__content-left {
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .about__content-right {
        margin-top: 2rem;
        align-items: center;
        width: 100%;
    }
    .about__content-text {
        text-align: center;
    }

}

@media screen and (max-width: 612px) {

    .banner {
        justify-content: flex-start;
        align-items: center;
        padding-bottom: 0;
        position: unset;
        padding-bottom: 2rem;
    }

    .banner .container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .banner-right {
        height: unset;
        top: 9rem;
        align-items: center;
    }


    .banner-title {
        font-size: 2.5rem;
    }

    .banner-text {
        margin-top: 1.5rem;
        font-size: 1.2rem;
    }

    .banner-left {
        height: unset;
        margin-top: 2rem;
        align-items: center;
        justify-content: center;
    }

    .banner__img {
        width: 180px;
    }

    .banner-right__btns {
        flex-direction: column;
        align-items: stretch;
        margin-top: 2rem;
        width: 100%;
        padding: 0;
    }

    #button-works {
        margin-right: 0;
        margin-top: 1rem;
    }

    #button-works,
    #button-resume {
        padding: 0.5rem;
        font-size: 1rem;
    }

    .about__content-title {
        font-size: 1.5rem;
    }

    .about__content-left img {
        width: 200px;
    }
}

@media screen and (max-width: 330px) {
    .banner-title {
        font-size: 2rem;
    }

    .banner-text {
        font-size: 1rem;
    }
}

/* Finish Media Query */

@keyframes appear {
    0% {
        opacity: 0;
        translate: 0 50px;
    }

    100% {
        opacity: 1;
    }
}