@import "./fonts.css";
@import "./variables.css";
@import "./reset.css";

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: var(--primary-font);
    background: #032030;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}
button {
    font-family: var(--primary-font);
}

.container {
    margin: 0 12rem;
    height: 100%;
}

@media screen and (max-width: 1120px) {
    .container {
        margin: 0 6rem;
    }
    .logo-img {
        margin-left: 6rem;
    }
}

@media screen and (max-width: 804px) {
    .container {
        margin: 0 2rem;
    }

    .logo-img {
        margin-left: 2rem;
    }
}

.titles {
    color: var(--white-color);
    font-size: 3rem;
    border-bottom: 3px solid var(--white-color);
    width: fit-content;
    text-align: center;
    padding: 1rem 0;
    font-weight: bold;
    margin-top: 4rem;
    margin-bottom: 3rem;
}