/* The code you provided is a CSS stylesheet. It contains various CSS rules and styles that define the
appearance and behavior of elements on a webpage. */
@import "./fonts.css";
@import "./variables.css";
@import "./reset.css";

html {
  scroll-behavior: smooth;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: var(--primary-font);
    background: #032030;
    transition: all 0.6s;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}
button {
    font-family: var(--primary-font);
    border: none;
    outline: none;
}

button:focus {
    outline: none;
}

p {
    text-align: right;
}

a:-webkit-any-link {
    text-decoration: none;
    color: var(--white-color);
}

a {
    text-align: right;
}

.container {
    margin: 0 12rem;
    height: 100%;
    padding: 0;
    max-width: unset;
    width: unset;
}

.nav {
    flex-wrap: nowrap;
    height: 5rem;
}

.titles {
    color: var(--white-color);
    font-size: 3rem;
    border-bottom: 3px solid var(--white-color);
    width: fit-content;
    text-align: center;
    padding: 1rem 0;
    font-weight: bold;
    margin-top: 6rem;
    margin-bottom: 3rem;
}

.min-title {
    color: var(--white-color);
    font-size: 2rem;
    display: block;
    text-align: right;
    width: 100%;
}

.text {
    color: var(--white-color);
    margin-top: 2rem;
    line-height: 1.5rem;
    word-spacing: 0.3rem;
    color: #9db5c1;
}

.hide-section {
    opacity: 0;
    transform: translate(0, -50px) scale(0.8);
}

.show-section {
    opacity: 1;
    transform: translate(0, 0) scale(1);
}

@media screen and (max-width: 1120px) {
    .container {
        margin: 0 6rem;
    }
}

@media screen and (max-width: 804px) {
    .container {
        margin: 0 2rem;
    }

    .min-title {
        display: block;
        text-align: center;
        width: 100%;
    }

}